body {
    margin-top: 120px;
    background: #E7e7f0;
    font-family: system-ui, -apple-system;
}

ul {
    padding: 0;
    margin-bottom: 0;
}

ul li {
    list-style: none;
    color:#3e3e3f;
    margin: 10px 0 10px;
}


h6 {
    color: #3e3e3f;
    text-align: end;
}

.container {
    background: whitesmoke;
    border-radius: 20px;
    padding: 20px;
}

.title {
    text-align: center;
    color: #3e3e3f;
}

.form-control {
    border: 1px solid blue;
    border-radius: 5px;
    width: 100%;
    background:whitesmoke;
    padding: 10px;
    color: blue !important;
}

::placeholder {
    color: blue !important;
}

.fa-circle-xmark {
    padding-left: 10px;
    color: blue;
}